@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";

.custom-toast {
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.custom-toast:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

.custom-progress {
  height: 4px;
}