@import "tailwindcss";

.Toastify__toast {
    border-radius: 12px !important;
    font-family: 'Inter', sans-serif; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.Toastify__progress-bar {
    height: 4px !important;
}

.Toastify__toast:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}